:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --title-color: #101828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    text-align: center;
}

span {
    color: var(--text-color);
}

.text-logo, .container h1, .container h2, .metricas-container h2, .container-talentos h1 {
    font-weight: 500;
}

.text-logo {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    width: 113px;
    height: 24px;
}

.text-logo a {
    padding-left: 5px;
    text-decoration: none;
    color: #24262b;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.links a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    background: none;
    color: var(--text-color);
}

button#signUp {
    background-color: var(--main-color);
    color: #FFF;
}

.container-sobre, .metricas-container, .container-talentos {
    padding: 2rem 0;
}

.container-sobre {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-sobre h1, .metricas-container h2, .container-talentos h1 {
    color: var(--main-color);
    font-size: 16px;
    padding: 20px;
}

.container-sobre h1 {
    font-weight: 600;
}

.container-sobre h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.metricas-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}

.metricas-blocos {
    width: 300px;
    height: 250px;
    margin: 0 1rem;
    text-align: start;
}

.metricas-blocos h2 {
    font-size: 60px;
    font-weight: 600;
    color: var(--main-color);
    text-align: start;
    padding-left: 0px;
}

.metricas-container h3 {
    font-size: 18px;
    color: var(--title-color);
    margin: 1rem 0;
}

.metricas-container p {
    font-size: 16px;
    color: var(--text-color);
}

.container-talentos {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-talentos button {
    font-size: 14px;
    color: var(--main-color);
    border-radius: 50px;
    background-color: #8E24240D;
    height: 3rem;
    width: 150px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-talentos h1 {
    font-size: 36px;
    margin-bottom: 1.5rem;
}

.container-talentos span {
    font-size: 20px;
    margin-bottom: 3rem;
}

.container-vagas { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.container-categoria {
    text-align: left;
    width: 70%;
    margin-top: 40px;
}

.vaga {
    text-align: left;
    width: 70%;
    height: 130px;
    border:  0.2px solid #e7e7e7;
    border-radius: 10px;
    margin-top: 3%;
    padding: 25px;
}

.categoria-vaga {
    color: #030303;
    font-size: 20px;
    margin-top: 20px;
}

.titulo-vaga {
    color: var(--title-color);
    font-weight: 500;
    font-size: 18px;
}

.informacoes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    padding: 1rem 0;
    gap: 30px;
    margin-top: 20px;
}

.container-colaboradores {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;   
    margin-top: 100px;
}

.conteudo-colaboradores {
    background-color: #C3191908;
    width: 90%;    
    height: 400px;        
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.conteudo-colaboradores h1 {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 20px;
}

.conteudo-colaboradores p {
    color: var(--title-color);
    font-size: 32px;
    font-weight: 500;
    padding: 50px 100px 50px 100px;
}

.conteudo-colaboradores h2 {
    color: var(--title-color);
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.conteudo-colaboradores span {
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 20px;
}

footer {
    background-color:#F9FAFB;
    width: Fill (1,440px)px;
    height: Fixed (430px)px;
    padding: 96px 0px 96px 0px;
    gap: 32px;
    margin-top: 10%;
}

.titulo-footer {
    font-size: 36px;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 20px;
}

footer span {
    font-size: 20px;
    font-weight: 400;
}

.form-container input {
    width: 28%;
    height: 10%;
    padding: 12px 14px 12px 16px;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    text-align: left;
    margin: 25px 10px 25px 0;
}

footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #98A2B3;
}